<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://127.0.0.1:5501"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Max-Age "3600"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Permitir métodos HTTP
    RewriteCond %{REQUEST_METHOD} ^(GET|POST|PUT|DELETE|OPTIONS)$
    RewriteRule ^ - [L]
    
    # Tratar requisições OPTIONS
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^ - [L]
</IfModule>